.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.bigIcon {
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  position: relative;
  z-index: 2;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  color: #161a1d;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.45;
}

.pointWraper {
  display: flex;
  gap: 12px;
}

.point {
  color: #4b5e71;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
}

.dot {
  height: 8px;
  max-height: 8px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-top: 9.5px;
}

.pointsWraper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button {
  margin: 0 16px 16px;
  display: flex;
  background: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.2s ease-out;
}

.buttonText {
  color: #17c2c2;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4375;
}

.button:hover {
  background-color: inherit;
  outline: 4px solid #fff;
}

@media (max-width: 700px) {
  .content {
    padding: 24px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 20px;
    gap: 12px;
  }

  .title {
    font-size: 18px;
  }

  .point,
  .buttonText {
    font-size: 14px;
  }

  .pointWraper,
  .pointsWraper {
    gap: 8px;
  }
}
