.wrapper {
  padding-inline: clamp(40px, 5.555555vw, 80px);
  text-align: center;
}

.videoWrapper {
  border-radius: 16px;
  overflow: hidden;
  border: 4px solid #ffffff;
  margin-inline: clamp(40px, 5.555555vw, 80px);
  border-radius: 16px;
  overflow: hidden;
}

.sectionTitleWrapper {
  margin-bottom: 4px;
  max-width: 900px;
  padding-block: clamp(60px, 11.3889vw, 164px) clamp(40px, 5.555555vw, 80px);
  text-align: left;
}

.sectionTitle {
  color: #161a1d;
  font-size: clamp(36px, 3.33333vw, 48px);
  font-weight: 700;
  line-height: 1.208;
}

.dot {
  color: #17c2c2;
}

@media (max-width: 700px) {
  .wrapper {
    padding-inline: 24px;
  }

  .sectionTitle {
    padding-block: 40px 60px;
    margin-bottom: 8px;
    font-size: 28px;
  }

  .videoWrapper {
    border-radius: 0;
    border: none;
    margin-inline: 0;
  }
}

@media (max-width: 480px) {
  .sectionTitle {
    font-size: 20px;
    padding-block: 0;
    margin: 0;
  }

  .sectionTitleWrapper {
    padding-block: 40px 32px;
    margin: 0;
  }

  .wrapper {
    padding-inline: 20px;
  }
}
