.wrapper {
  background: #161a1d;
  padding-top: clamp(60px, 7.2222vw, 104px);
  padding-inline: clamp(40px, 5.555555vw, 80px);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.faqHeader {
  max-width: 632px;
}

.sectionTitleDark {
  font-size: clamp(36px, 3.33333vw, 48px);
  font-weight: 700;
  line-height: 1.208;
  margin-bottom: 4px;
  max-width: 632px;
  color: #f6f7f9;
}

.dot {
  color: #17c2c2;
}

.sectionBodyDark {
  font-size: clamp(36px, 3.33333vw, 48px);
  font-weight: 700;
  line-height: 1.208;
  color: #4b5e71;
}

.question {
  color: #f6f7f9;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.45;
}

.answer {
  height: 0;
  overflow: hidden;
  transition: 0.7s ease-in;
  opacity: 0;
  position: relative;
  color: #a3b2c2;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  max-width: 750px;
  width: 90%;
}

.faqCurrent .answer {
  height: auto;
  opacity: 1;
  margin-top: 16px;
}

.faqs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq {
  background: url("../../assets/images/faq-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  overflow: hidden;
  padding-block: 40px;
  padding-inline: 32px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-blend-mode: darken;
  border: none;
}

.faqOuter {
  border-radius: 16px;
  overflow: hidden;
}

.questionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.faqIcon {
  transform: rotate(0);
  transition: transform 0.7s ease-in;
}

.faqIconCurrent {
  transform: rotate(-180deg);
}

@media (max-width: 900px) {
  .question {
    font-size: 18px;
  }

  .faq {
    padding: 32px;
  }

  .faqCurrent .answer {
    margin-top: 14px;
  }
}

@media (max-width: 700px) {
  .sectionTitleDark {
    margin-bottom: 8px;
  }

  .sectionBodyDark,
  .sectionTitleDark {
    font-size: 30px;
  }

  .wrapper {
    padding: 60px 24px;
    gap: 24px;
  }

  .question {
    font-size: 16px;
  }

  .answer {
    font-size: 14px;
    width: 100%;
  }

  .faq {
    padding: 24px;
  }

  .questionWrapper {
    gap: 24px;
  }
}

@media (max-width: 480px) {
  .sectionBodyDark,
  .sectionTitleDark {
    font-size: 20px;
  }

  .faq {
    padding: 24px;
  }

  .faqCurrent .answer {
    margin-top: 12px;
  }

  .wrapper {
    padding-inline: 20px;
    gap: 20px;
  }

  .questionWrapper {
    gap: 20px;
  }
}
