.wrapper {
  padding-inline: clamp(40px, 5.555555vw, 80px);
  padding-bottom: clamp(60px, 7.2222vw, 104px);
  display: flex;
  flex-direction: column;
  gap: 208px;
}

@media (max-width: 700px) {
  .wrapper {
    padding: 40px 24px 60px;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    gap: 180px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    gap: 110px;
    padding: 60px 24px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    gap: 90px;
    padding-inline: 20px;
  }
}
