.wrapper {
  background: #ffffff;
  padding-block: clamp(100px, 11.3889vw, 164px);
  padding-inline: clamp(40px, 5.555555vw, 80px);
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.dot {
  color: #17c2c2;
}

.sectionTitle {
  color: #161a1d;
  font-size: clamp(36px, 3.33333vw, 48px);
  font-weight: 700;
  line-height: 1.208;
  margin-bottom: 4px;
  max-width: 632px;
}

.sectionBody {
  color: #a3b2c2;
  font-size: clamp(36px, 3.33333vw, 48px);
  font-weight: 700;
  line-height: 1.208;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 632px;
}

.headerTexts {
  display: flex;
  gap: 16px;
}

.headerText {
  font-size: clamp(36px, 3.33333vw, 48px);
  font-weight: 700;
  line-height: 1.208;
  color: #161a1d;
}

.processSection {
  max-width: 850px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headerBodyText {
  color: #4b5e71;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.45;
}

.allProcesses {
  padding: 40px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 160px;
  width: calc(100% - 110px - 10%);
  margin-left: auto;
}

.process {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.steps {
  position: fixed;
  top: 60px;
  opacity: 0;
  transform: translateY(-400px);
  width: 110px;
}

.stepsShow {
  transition: opacity 500ms, transform 400ms;
  transform: translateY(0);
  opacity: 1;
}

.stepsInner {
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8px;
  transform: translateX(-50%);
  width: 4px;
  background: #f0f8ff;
}

.stepWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  z-index: 2;
  background: #fff;
}

.mainWrapper {
  display: flex;
  justify-content: space-between;
}

.processTitle {
  color: #161a1d;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.45;
}

.processList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.processListGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  column-gap: 40px;
  row-gap: 8px;
}

.processItem {
  display: flex;
  gap: 12px;
}

.processItemText {
  color: #4b5e71;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.45;
}

.toolsWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background: #f0f8ff;
  max-width: 850px;
  flex-wrap: wrap;
}

.tools {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

.tool {
  color: #4b5e71;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
}

.processImageWrapper {
  position: relative;
  width: 100%;
}

.processImage {
  position: relative !important;
  width: 100% !important;
  height: unset !important;
}

@media (max-width: 1100px) {
  .allProcesses {
    padding: 0;
  }

  .process {
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .steps {
    display: none;
  }

  .allProcesses {
    width: 100%;
  }

  .wrapper {
    gap: 60px;
  }

  .allProcesses {
    gap: 100px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    padding: 60px 24px;
  }

  .sectionTitle {
    margin-bottom: 8px;
  }

  .sectionTitle,
  .sectionBody,
  .headerText {
    font-size: 30px;
  }

  .headerBodyText {
    font-size: 18px;
  }

  .process {
    gap: 18px;
  }

  .processTitle,
  .processItemText {
    font-size: 18px;
  }

  .allProcesses {
    gap: 80px;
  }
}

@media (max-width: 480px) {
  .sectionTitle,
  .sectionBody,
  .headerText {
    font-size: 24px;
  }

  .headerBodyText {
    font-size: 16px;
  }

  .process {
    gap: 16px;
  }

  /* .wrapper {
    gap: 40px;
  } */

  .allProcesses {
    gap: 60px;
  }

  .toolsWrapper {
    padding: 12px;
    gap: 12px;
  }

  .tool {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .processListGrid {
    display: flex;
    flex-direction: column;
    min-width: 0;
    gap: 8px;
  }
}
