.heroWrapper {
  position: relative;
}

.container {
  background: url("../../assets/images/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroImageWrapper {
  position: relative;
  width: 100%;
}

.heroImage {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.invisble {
  opacity: 0;
}

.heroContent,
.heroContentServices {
  position: absolute;
  font-size: clamp(40px, 5vw, 72px);
  top: 0.889em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 10.97%;
  z-index: 1;
}

.heroTitle {
  font-size: clamp(40px, 5vw, 72px);
  font-weight: 700;
  line-height: 1.0556;
  color: #f6f7f9;
  text-align: center;
  margin-bottom: 17px;
  max-width: 1123px;
}

.heroServiceTitle {
  margin-block: 32px;
}

.heroBody {
  color: #a3b2c2;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.45;
  text-align: center;
  margin-bottom: 32px;
  padding-inline: 16.87%;
  max-width: calc(745px + 32%);
}

.heroButton {
  background-color: #17c2c2;
  color: #f6f7f9;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.45;
  padding-block: 0.8em;
  padding-inline: 1.6em;
  border-radius: 16px;
  outline: 1px solid #17c2c2;
  transition: color background-color 0.2s ease-out;
}

.heroButton:hover {
  background-color: transparent;
  color: #17c2c2;
}

.dot {
  color: #17c2c2;
  font-size: clamp(40px, 5vw, 72px);
  font-weight: 700;
  line-height: 1.0556;
}

.serviceType {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4375;
  padding: 0.5em 1em;
  border-radius: 16px;
  text-align: center;
}

@media (max-width: 1100px) {
  .heroBody {
    font-size: 18px;
  }

  .heroContentServices {
    top: 0.3em;
  }
}

@media (max-width: 1000px) {
  .heroContentServices {
    top: 0;
  }
}

@media (max-width: 900px) {
  .heroBody {
    font-size: 16px;
    padding-inline: 10%;
  }

  .heroContent {
    top: 0;
  }
}

@media (max-width: 890px) {
  .heroContentServices {
    top: -0.7em;
  }
}

@media (max-width: 775px) {
  .heroContentServices {
    top: -1em;
    padding-inline: 7%;
  }

  .heroServiceTitle {
    margin-block: 24px;
  }
}

@media (max-width: 700px) {
  .heroTitle {
    font-size: 30px;
    line-height: 1.3;
    padding-inline: 20px;
  }

  .heroBody {
    font-size: 14px;
  }

  .heroContent,
  .heroContentServices {
    position: static;
    padding: 30px 30px 60px;
  }

  .heroImageWrapper {
    display: none;
  }

  .heroButton {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .heroTitle,
  .heroBody {
    padding: 0;
    margin-bottom: 30px;
  }

  .heroTitle {
    margin-bottom: 20px;
  }

  .serviceType {
    font-size: 14px;
  }

  .heroButton {
    margin-top: 30px;
  }

  .heroContent,
  .heroContentServices {
    padding-inline: 20px;
  }
}

@media (max-width: 400px) {
  .heroButton {
    width: 80%;
  }
}
