.contact {
  padding-block: clamp(60px, 7.2222vw, 104px);
  padding-inline: clamp(40px, 5.555555vw, 80px);
  background: #161a1d;
  display: flex;
}

.contact > * {
  flex: 1;
}

.contactHeader {
  max-width: 632px;
}

.contactTop {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.form {
  background: #f6f7f9;
  border-radius: 16px;
  overflow: hidden;
  padding: 32px;
}

.formHeaderWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.formHeader {
  color: #161a1d;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}

.formHeaderText {
  color: #4b5e71;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
}

.line {
  height: 1px;
  background: #a3b2c2;
  margin-block: 32px;
}

.formInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.formInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  min-width: calc(50% - 16px);
}

.formInput {
  background: transparent;
  outline: 1px solid #a3b2c2;
  border-radius: 8px;
  padding: 12px;
  color: #4b5e71bc;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4375;
}

.formLabel {
  color: #4b5e71;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4375;
}

.textareaInput {
  height: 124px;
}

.attachment {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}

.attachmentText {
  color: #17c2c2;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4375;
}

.formButton {
  color: #f6f7f9;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  padding: 1.1em;
  border-radius: 16px;
  width: 100%;
  transition: opacity 0.15s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  margin-bottom: -16px;
  color: brown;
  font-weight: 600;
  font-size: 16px;
}

.formButton:hover {
  opacity: 0.8;
}

.contactTopTexts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contactTopTextsText {
  color: #f6f7f9;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.45;
}

.contactTopTextsEmail {
  color: #a3b2c2;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.45;
}

.peopleMobile {
  display: none;
}

.people {
  display: block;
}

.sectionTitleDark {
  font-size: clamp(36px, 3.33333vw, 48px);
  font-weight: 700;
  line-height: 1.208;
  margin-bottom: 4px;
  max-width: 632px;
  color: #f6f7f9;
}

.dot {
  color: #17c2c2;
}

.sectionBodyDark {
  font-size: clamp(36px, 3.33333vw, 48px);
  font-weight: 700;
  line-height: 1.208;
  color: #4b5e71;
}

.ldsDualRing {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.ldsDualRing:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1100px) {
  .contact {
    flex-direction: column;
    gap: 60px;
  }
}

@media (max-width: 900px) {
  .form {
    padding-inline: 24px;
  }
}

@media (max-width: 700px) {
  .sectionTitleDark {
    margin-bottom: 8px;
  }

  .sectionBodyDark,
  .sectionTitleDark {
    font-size: 30px;
  }

  .formHeader {
    font-size: 28px;
  }

  .formHeaderText,
  .formLabel,
  .formInput,
  .attachmentText {
    font-size: 14px;
  }

  .line {
    margin-block: 24px;
  }

  .peopleMobile {
    display: block;
  }

  .people {
    display: none;
  }

  .formInputs {
    gap: 24px;
  }

  .formButton,
  .contactTopTextsText,
  .contactTopTextsEmail {
    font-size: 18px;
  }

  .contact {
    padding: 60px 24px;
  }

  .formInputWrapper {
    gap: 4px;
  }

  .contactTop {
    gap: 24px;
  }

  .contact {
    gap: 24px;
  }

  .error {
    font-size: 14px;
  }

  .ldsDualRing,
  .ldsDualRing:after {
    width: 20px;
    height: 20px;
  }

  .form {
    padding: 24px;
  }
}

@media (max-width: 520px) {
  .formInputWrapper {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .sectionBodyDark,
  .sectionTitleDark {
    font-size: 20px;
  }

  .formButton,
  .contactTopTextsText,
  .contactTopTextsEmail {
    font-size: 16px;
  }

  .contactTop {
    gap: 20px;
  }

  .contact {
    gap: 20px;
    padding-inline: 20px;
  }

  .error {
    font-size: 12px;
  }

  .form {
    padding: 20px;
  }

  .line {
    margin-block: 20px;
  }

  .formInputs {
    gap: 20px;
  }
}
