.video {
  position: relative;
  /* box-shadow: 10px 25px 50px 0px #0220201a; */
}

.playIconWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  aspect-ratio: 1 / 1;
}

.playIcon {
  position: relative !important;
  width: 100%;
  height: 100%;
}

.thumbnailWrapper {
  position: relative;
  width: 100%;
}

.thumbnailImage {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@media (max-width: 700px) {
  .playIconWrapper {
    width: 60px;
  }
}

@media (max-width: 480px) {
  .playIconWrapper {
    width: 40px;
  }
}
